@media (max-width: 800px)
{
    .header{
        flex-direction: column-reverse;
    }
    .container{
        flex-direction: column
    }
    .header-text div{
        text-align: center;
    }
    .header-text{
        transform: rotate(0deg);
    }
    .logo{
        text-align: center;
    }
    nav>ul{
     width: 100%;
    }
}